[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[user]
	name = Michael Fortunato
	email = michael.n.fortunato@gmail.com
	signingkey = /Users/michaelfortunato/.ssh/id_ed25519.pub
[core]
	pager = less -F -X
[gpg]
	format = ssh
[commit]
	gpgsign = true
