[submodule "zsh/.oh-my-zsh"]
  path = zsh/.oh-my-zsh
  url = https://github.com/ohmyzsh/ohmyzsh
  branch = master
[submodule "zsh/.oh-my-zsh-custom/plugins/fzf-tab"]
  path = zsh/.oh-my-zsh-custom/plugins/fzf-tab
  url = https://github.com/Aloxaf/fzf-tab
  branch = master
[submodule "zsh/.oh-my-zsh-custom/themes/powerlevel10k"]
  path = zsh/.oh-my-zsh-custom/themes/powerlevel10k
  url = https://github.com/romkatv/powerlevel10k
  branch = master
