# vim: set commentstring=#\ %s :

# The author himself suggested them himself and they work as of Nov 2025
# ref: https://github.com/ahrm/sioyek/issues/1310
#==============================================================================
# Mode flags
#==============================================================================
#  MainWidget::get_current_mode_string():
#
#  - r / R — ruler (visual mark) active /
#    inactive
#  - x / X — synctex mode on / off
#  - h / H — select-highlight mode on / off
#  - q / Q — freehand draw mode (pencil)
#    on / off
#  - e / E — pen-drawing mode on / off
#  - d / D — mouse-drag mode on / off
#  - p / P — presentation mode on / off
#  - o / O — overview window present /
#    absent
#  - s / S — scratchpad visible / not
#  - f / F — search in progress / not
#  - m / M — menu focused / not
#  - t / T — some text is selected / not

# Chat syas I should do all of these in one line
[R]previous_page;[r]_ruler_up_10  <C-u>
[R]next_page;[r]_ruler_down_10  <C-d>
close_window <D-w>
# synctex_under_ruler i
# This is nicer than enter visual mark
# mode as it will put it under the cursor if I have it
# or default to visual mark mode otherwise
[R]visual_mark_under_cursor i
toggle_presentation_mode <space>p
synctex_under_ruler ,v
# old habbits
toggle_presentation_mode <space>tp 
toggle_statusbar <space>ua
toggle_titlebar <space>uA
toggle_statusbar;toggle_titlebar <space>uz
goto_tab <space>,
# This will send it to default_open_filepath
open_document_embedded <space><space>
open_document_embedded_from_current_path <space>.
goto_toc <space>ss
goto_toc <space>cs
copy <D-c>
# <S-L> does not work
goto_next_tab L
goto_prev_tab H
# i'm pretty sure sioyek has left/right of move_left and move_right confused
# this is what we want and not a typo. for smoooth they have it rigth
# move_right_smooth l
# move_left_smooth h
# move_down_smooth j
# move_up_smooth k
move_left l
move_right h
[R]move_down;[r]move_visual_mark_down  j
[R]move_up;[r]move_visual_mark_up  k
goto_window f<tab>
new_window <D-n>
new_window <D-t>
prev_state <C-o>
next_state <C-i>

#https://github.com/ahrm/sioyek/issues/1231
control_menu(down) <C-n>
control_menu(up) <C-p>
#control_menu(down) <C-j>
#control_menu(up) <C-k>
# NOTE: not an action currently pdf_viewer/input.cpp:1493
#[m]control_menu(delete_tab) <C-d>
#[m]control_menu(delete_tab) <C-d>


toggle_synctex a
turn_on_presentation_mode;turn_on_synctex;visual_mark_under_cursor <space>us
