previous_page <C-u>
next_page <C-d>
close_window <D-w>
synctex_under_ruler <C-space>
toggle_presentation_mode <space>p
# old habbits
toggle_presentation_mode <space>tp 
toggle_statusbar <space>ua
toggle_titlebar <space>uA
toggle_statusbar;toggle_titlebar <space>uz
goto_tab <space>,
goto_toc <space>cs
copy <D-c>
# <S-L> does not work
goto_next_tab L
goto_prev_tab H
# i'm pretty sure sioyek has left/right of move_left and move_right confused
# this is what we want and not a typo. for smoooth they have it rigth
# move_right_smooth l
# move_left_smooth h
# move_down_smooth j
# move_up_smooth k
move_left l
move_right h
move_down j
move_up k
goto_window f<tab>
open_document_embedded <space>e
open_document_embedded_from_current_path <space><space>
new_window <D-n>
new_window <D-t>

#https://github.com/ahrm/sioyek/issues/1231
control_menu(down) <C-n>
control_menu(up) <C-p>
#control_menu(down) <C-j>
#control_menu(up) <C-k>
# NOTE: not an action currently pdf_viewer/input.cpp:1493
#[m]control_menu(delete_tab) <C-d>
