previous_page <C-u>
next_page <C-d>
close_window <D-w>
synctex_under_ruler <C-space>
toggle_presentation_mode <space>p
toggle_statusbar <space>ua
toggle_titlebar <space>uA
toggle_statusbar;toggle_titlebar <space>uz
goto_tab <space>,
goto_toc <space>cs
copy <D-c>
# <S-L> does not work
goto_next_tab L
goto_prev_tab H
goto_window f<tab>
open_document_embedded <space><space>
open_document_embedded_from_current_path <space>e

#https://github.com/ahrm/sioyek/issues/1231
control_menu(down) <C-n>
control_menu(up) <C-p>
#control_menu(down) <C-j>
#control_menu(up) <C-k>
# NOTE: not an action currently pdf_viewer/input.cpp:1493
#[m]control_menu(delete_tab) <C-d>
