# vim: set commentstring=#\ %s :

# Cannot have this cuz aerospace will freak
# startup_commands    toggle_titlebar
# So we get per page scrolling
#turn_on_presentation_mode
#prerender_next_page_presentation
#should_launch_new_window 1
default_open_file_path /Users/michaelfortunato/
keyboard_select_font_size 10

# https://github.com/ahrm/sioyek/issues/1452
# We want this if we wish to customize the status bar
show_document_name_in_statusbar 1
# From chatgpt
# pdf_viewer/config.cpp:75
# STATUS_BAR_FORMAT = "[ %{current_page} /
# %{num_pages} ]%{chapter_name}%{search_results}%{search_progress
# }%{link_status}%{waiting_for_symbol}%{indexing}%{preview_index}
# %{synctex}%{drag}%{presentation}%{visual_scroll}%{locked_scroll
# }%{highlight}%{freehand_drawing}%{closest_bookmark}%{close_port
# al}%{rect_select}%{custom_message}%{download}"
# Roughly what it was [ %{current_page} / %{num_pages} ]%{chapter_name}%{search_results}%{search_progress}%{link_status}%{waiting_for_symbol}%{indexing}%{preview_index} %{synctex}%{drag}%{presentation}%{visual_scroll}%{locked_scroll}%{highlight}%{freehand_drawing}%{closest_bookmark}%{close_portal}%{rect_select}%{custom_message}%{document_name}%{download}
# NOTE: Identitical to default as of October 2025, but Removed highlight
status_bar_format [ %{current_page} / %{num_pages} ]%{chapter_name}%{search_results}%{search_progress}%{link_status}%{waiting_for_symbol}%{indexing}%{preview_index} %{synctex}%{drag}%{presentation}%{visual_scroll}%{locked_scroll}%{freehand_drawing}%{closest_bookmark}%{close_portal}%{rect_select}%{custom_message}%{document_name}%{download}[Internal mode: %{mode_string}]

# For keys files in sioyek
new_macro _ruler_up_5   move_visual_mark_up;move_visual_mark_up;move_visual_mark_up;move_visual_mark_up;move_visual_mark_up
new_macro _ruler_down_5 move_visual_mark_down;move_visual_mark_down;move_visual_mark_down;move_visual_mark_down;move_visual_mark_down

## Custom commands to run when clicking or right clicking when modifier keys are pressed
## the command can be any built-in sioyek command (e.g. overview_under_cursor) or user-defined
## commands defined using `new_command`
# shift_click_command some_command
control_click_command [X]turn_on_synctex;[x]synctex_under_cursor
# alt_click_command some_command
# shift_right_click_command some_command
# control_right_click_command some_command
# alt_right_click_command some_command

prerender_next_page_presentation 1
#startup_commands turn_on_presentation_mode;toggle_titlebar
#FIXME: does not work startup_commands turn_on_presentation_mode;
# Ideally we want toggle_titlebar by default but removing the os window decoration messes up Aerosapce

# FIXME: removing the os window decoration this early messes up Aerosapce
# startup_commands turn_on_presentation_mode;toggle_titlebar;
#startup_commands toggle_titlebar;
