# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[mgr]
prepend_keymap = [
  { on = "<Esc>", run = ["close --no-cwd-file"], desc = "Close the current tab, or quit and return to original directory if it's last" },
  # TODO: Whats the diff between close and quit command
  { on = "<C-q>", run = "quit --no-cwd-file", desc = "Quit and return to original directory" },
  { on = "<C-c>", run = "quit --no-cwd-file", desc = "Quit and return to original directory" },
  { on = "q", run = "quit --no-cwd-file", desc = "Quit and return to orginal directory" },
  { on = "Q", run = "quit", desc = "Quit and enter cwd" },
  { on = "<Enter>", run = "plugin smart-enter", desc = "Enter the child directory or open file" },
  { on = "<C-y>", run = "plugin smart-enter", desc = "Enter the child directory or open file" },
  { on = "<S-Enter>", run = ["enter", "quit"], desc = "Quit and cd to the selected directory" },
  { on = "?", run = "help", desc = "Open help" },
  { on = "e", run = "open", desc = "Open selected files" },
  { on = "c", run = "yank", desc = "Yank selected files" },
  { on = "<c-h>", run = [
    "hidden toggle",
    "plugin eza-preview toggle-hidden",
    "plugin eza-preview toggle-git-ignore"
  ], desc = "Toggle hidden + git-ignored in panel/preview" },
  # { on = "<S-h>", run = "hidden toggle", desc = "Toggle the visibility of hidden files" },
  { on = "~", run = "cd ~", desc = "Toggle the visibility of hidden files" },
  { on = ["<space>"], run = "noop", desc = "Noop (free <space>)" },
  { on = ["<space>", "<space>"], run = "plugin fzf", desc = "Jump to a file/directory via fzf" },
  { on = "cdj", run = "plugin fzf", desc = "Jump to a file/directory via fzf" },
  { on = "s", run = "plugin fzf", desc = "Jump to a file/directory via fzf" },
  { on = "D", run = "noop", desc = "Noop (prevent accidental deletion)" },
  { on = "d", run = "noop", desc = "Noop (prevent accidental deletion)" },
  { on = "Z", run = "Noop", desc = "Noop (free Z)" },
  { on = "<C-u>", run = "arrow -50%", desc = "Move cursor up half page" },
  { on = "<C-d>", run = "arrow 50%", desc = "Move cursor down half page" },
  { on = "<leader>sg", run = "plugin gri", desc = "Grep (root dir)" },
  { on = "<leader>sG", run = "plugin gri", desc = "Grep (cwd)" },
  { on = "<C-f>", run = "seek 5", desc = "Seek 5 units down in the preview." },
  { on = "<C-b>", run = "seek -5", desc = "Seek 5 units up in the preview." },
  { on = ["L"], run = "plugin eza-preview", desc = "Toggle tree/list dir preview" },
  { on = "<C-l>", run = "plugin eza-preview cycle-level", desc = "Cycle dir preview depth (off/base/6/full)" },
  { on = "<S-C-L>", run = "plugin eza-preview cycle-level-rev", desc = "Cycle dir preview depth (reverse)" },
]
append_keymap = [
  { on = "<C-p>", run = "arrow -1", desc = "Move cursor up" },
  { on = "<C-n>", run = "arrow 1", desc = "Move cursor down" },
  { on = "<Enter>", run = "plugin smart-enter", desc = "Enter the child directory" },
  { on = "<Backspace>", run = "leave", desc = "Go back to the parent directory" },
]

[input]
prepend_keymap = [
  { on = "<Esc>", run = "close", desc = "Cancel input" },
  { on = "<C-y>", run = "close --submit", desc = "Submit input" },
]

[spot]
append_keymap = [
  { on = "<C-p>", run = "arrow -1", desc = "Move cursor up" },
  { on = "<C-n>", run = "arrow 1", desc = "Move cursor down" },
]

[pick]
append_keymap = [
  { on = "<C-p>", run = "arrow -1", desc = "Move cursor up" },
  { on = "<C-n>", run = "arrow 1", desc = "Move cursor down" },
]

[confirm]
append_keymap = [
  { on = "<C-p>", run = "arrow -1", desc = "Move cursor up" },
  { on = "<C-n>", run = "arrow 1", desc = "Move cursor down" },
]

[cmp]
append_keymap = [
  { on = "<C-p>", run = "arrow -1", desc = "Move cursor up" },
  { on = "<C-n>", run = "arrow 1", desc = "Move cursor down" },
]

[help]
prepend_keymap = [
  { on = "<C-p>", run = "arrow -1", desc = "Move cursor up" },
  { on = "<C-n>", run = "arrow 1", desc = "Move cursor down" },
  { on = "/", run = "filter", desc = "Filter help items" },
]
